// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page{

  padding-top: 0px;

}

#nested-comment{

  margin-top: 60px;
  clear: both;

}

.comment-reply{

  display: none;

}

// .fa {
//   font-size: 50px;
//   cursor: pointer;
//   user-select: none;
// }
//
// .fa:hover {
//   color: darkblue;
// }
